# Compiled Sources
###################
*.o
*.map
*.hex
*.dis
*.exe

# Packages 
############

# Windows Thumbnail
######################
Thumbs.db
thumbs.db

# Logs and Databases
######################
*.log

# VIM Swap Files
######################
*.swp

# Build directory
######################
build/
sdcard/

# Test failure outputs
######################
tests/*.exp
tests/*.out

# Python cache files
######################
__pycache__/

# Customized Makefile/project overrides
######################
GNUmakefile
user.props
pynq_z2_experiments/pynq_z2_experiments.runs/*
pynq_z2_experiments/pynq_z2_experiments.cache/*
pynq_z2_experiments/pynq_z2_experiments.tmp/*

pynq_z2_experiments/pynq_z2_experiments.sim/*

ip_repo/edit_axi_ro_v1_0.cache/*
ip_repo/edit_axi_ro_v1_0.runs/*
ip_repo/edit_axi_ro_v1_0.tmp/*

!pynq_z2_experiments/pynq_z2_experiments.runs/impl_1/z2_voltage_experiments_wrapper.bit
